# The user below is the owner of everything in this repository.
@jedlimke

# The owner of _fencing-results/ is NOT specified on purpose.
# Changes to this directory can be made with the approval of
# any user who has write access to the repository.
/_fencing-results/