@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

html, body {
  font-family: "Neuton", serif;
  font-size: 20px;
  background-color: #F4F2F0;
}

.site-header, table {
	background: #FFF;
}

h2 {
	border-bottom: solid thin #ccc;
	padding-bottom: 0.5em;
}

*:not(h1) + h2 {
	margin-top: 1em;
}

h2, h3 {
	color: darkgoldenrod
}