---
---
/* Minima automatically imports:
 * 1. _sass/minima/custom-variables.scss (before theme variables)
 * 2. The minima theme itself
 * 3. _sass/minima/custom-styles.scss (after theme styles)
 * 
 * See: https://github.com/jekyll/minima#customization
 */

@import "minima";

